.skeleton-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Skeleton */
.skeleton-img {
  width: 260px;
  filter: brightness(1.4);
  transition: 0.4s;
}

.skeleton-img:hover {
  filter: brightness(1.6);
}

/* Title */
.skeleton-title {
  position: absolute;
  transform: translate(-10px, -560px);

}

.skeleton-title h2 {
  font-size: 30px;
  white-space: nowrap;

}

/* Subtitle */
.skeleton-subtitle {
  position: absolute;
  transform: translate(-50px, -510px);
  opacity: 0.4;
  transition: 0.4s;
    white-space: nowrap;

}

.skeleton-container:hover .skeleton-subtitle {
  opacity: 1;
}